script(src='/socket.io/socket.io.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
script(src='/bower_components/angular-socket-io/socket.min.js')
script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='/bower_components/angular-md5/angular-md5.min.js')
script(src='/js/ngapp.js')
script(src='/js/routes.js')
script(src='/js/run.js')
script(src='/js/controllers/loginModal.controller.js')
script(src='/js/controllers/nav.controller.js')
script(src='/js/controllers/registerModal.controller.js')
script(src='/js/controllers/registrationCompleteModal.controller.js')
script(src='/js/directives/chatEvent.directive.js')
script(src='/js/directives/chatWindow.directive.js')
script(src='/js/directives/schrollBottom.directive.js')
script(src='/js/services/authInterceptor.factory.js')
script(src='/js/services/socket.factory.js')
script(src='/js/services/authenticate.service.js')
script(src='/js/services/loginModal.service.js')
script(src='/js/services/registerModal.service.js')
script(src='/js/services/registrationCompleteModal.service.js')
script(src='/js/services/Room.service.js')
script(src='/js/services/User.service.js')
