
<div class="modal-header">
  <button class="close" type="button" ng-click="LMCtrl.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
  <h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
  <form name="loginForm" ng-submit="LMCtrl.submit(username,password)">
    <div class="form-group">
      <label for="username">username:</label>
      <input class="form-control" type="text" ng-model="username" required="required"/>
    </div>
    <div class="form-group">
      <label for="password">password:</label>
      <input class="form-control" type="password" ng-model="password" required="required"/>
    </div>
    <button>Submit</button>
  </form><span class="label label-warning" ng-show="LMCtrl.error">{{LMCtrl.error}}</span>
</div>
<div class="modal-footer"></div>