.modal-header
	button.close(type="button", ng-click="RCMCtrl.cancel()")
		span.glyphicon.glyphicon.remove
	h4.modal-title Registration Complete

.modal-body
	.alert.alert-success Login with your username and password
	button.btn.btn-primary(type="button", ng-click="RCMCtrl.cancel()") Ok

.modal-footer